@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

body {
    font-family: Roboto, Verdana, sans-serif;
    background-color: lightblue;
    padding: 0;
    margin: 0;
}
#content {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}
a {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    
}
a:hover {
    background-color: darkgray;
    color: white;
}
nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h1 {
    font-size: 2em;
    text-align: center;
    margin: 40px;
    font-weight: bold;
}
img {
    width: 60%;
    display: block;
    margin: 20px auto;
    border: 3px solid lightblue;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}
p {
    /* text-align: center; */
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.background {
    background-color: #ccc;
}
footer p {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    width: 100%;
    text-align: center;
}

